VITE_API_URL=https://api.example.com/
VITE_ACTUAL_ORIGIN=http://localhost:5173
VITE_ONLINE_PAYMENT=true
VITE_QUANTITY_INCREMENT=1
VITE_PAGINATION=12
VITE_CURRENCY_AVAILABILITY=false
VITE_CURRENCY_API=
VITE_IS_HEADER_PUB=false
